<section class="container-list">
	<section class="form">
		<h3>TO-DO List</h3>
		<div class="alert radius"  ng-class="{'alert-success': msgSuccess, 'alert-error': msgError}" ng-if="message">
			<span>{{message}}</span>
		</div>
		<form>
			<ul>
				<li>
					<label for="name">Name</label>
					<input name="name"  ng-model="name" type="text" required>
				</li>
				<li>
					<label for="dueDate">Due Date</label>
					<input name="dueDate"  ng-model="dueDate" type="date" data-date-format="DD MMMM YYYY" required>
				</li>
				<li>
					<label for="name">Priority</label>
					<input type="number" ng-model="priority" min="1" max="5" required>
				</li>
			</ul>
			<button ng-if="create" ng-click="createTask()">Add Task</button>
			<button ng-if="!create" ng-click="updateTask()">Update Task</button>
			<button ng-click="reset()">Reset</button>
		</form>
		<br>
		<hr>
		<article>
			<h3>Order By</h3>
			<div>
				<button ng-click="sort('name')">Name
					<i class="fa fa-arrow-up" aria-hidden="true" ng-if="sortBy.name === false"></i>
					<i class="fa fa-arrow-down" aria-hidden="true" ng-if="sortBy.name === true"></i>
				</button>
				<button ng-click="sort('due_date')">Due Date
					<i class="fa fa-arrow-up" aria-hidden="true" ng-if="sortBy.due_date === false"></i>
					<i class="fa fa-arrow-down" aria-hidden="true" ng-if="sortBy.due_date === true"></i>
				</button>
				<button ng-click="sort('priority')">Priority
					<i class="fa fa-arrow-up" aria-hidden="true" ng-if="sortBy.priority === false"></i>
					<i class="fa fa-arrow-down" aria-hidden="true" ng-if="sortBy.priority === true"></i>
				</button>
			</div>
		</article>
	</section>
	<section class="lists">
		<article>
			<h3>Pending</h3>
			<table>
				<tr>
					<th>Name</th>
					<th>DueDate</th>
					<th>Priority</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
				<tr ng-repeat="data in tasks | filter:{overdue:false}">
					<td>{{data.name}}</td>
					<td>{{data.due_date}}</td>
					<td>{{data.priority}}</td>
					<td class="linksClick"><a ng-click="update(data)"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
					<td class="linksClick"><a ng-click="deleteTask(data._id)"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
				</tr>
			</table>
		</article>
		<article>
			<h3>Overdue</h3>
			<table>
				<tr>
					<th>Name</th>
					<th>DueDate</th>
					<th>Priority</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
				<tr class="overdue" ng-repeat="data in tasks | filter:{overdue:true}">
					<td>{{data.name}}</td>
					<td>{{data.due_date}}</td>
					<td>{{data.priority}}</td>
					<td class="linksClick"><a ng-click="update(data)"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
					<td class="linksClick"><a ng-click="deleteTask(data._id)"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
				</tr>
			</table>
		</article>
	</section>
</section>
