
.container-list
	text-align center
	.form, .lists
		display inline-block
		text-align left
		vertical-align top
	.form
		padding 0 10px
		width 30%
		ul
			list-style none
			padding 0
			width 100%
			li
				padding 10px 0
			label
				display block
			input
				height 20px
				padding 5px 8px
				width 70%
	.lists
		width 60%

table
	border-collapse collapse
	font-family arial, sans-serif
	width: 100%
	td, th
		border 1px solid #dddddd
		padding 8px
		text-align left
	tr:nth-child(even)
		background-color #dddddd
	tr.overdue
		color red

.alert {
    position: relative;
    display: block;
    padding: 1em 1.8em;
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1.2;
    text-align: left;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    background: transparent;
    color: white;
}

/* Error */
.alert-error {
  background: #e74c3c;
  border: 1px solid #c0392b;
}

/* Success */
.alert-success {
  background: #2ecc71;
  border: 1px solid #27ae60;
}

/* Info */
.alert-info {
  background: #3498db;
  border: 1px solid #2980b9;
}

/* Radius */
.radius {
  border-radius: 3px;
}
