<section class="container-list">
	<h2>TO-DO List</h2>
	<section>
		<form>
			<div>
				<label for="name">Name</label>
				<input name="name" type="text">
			</div>
			<div>
				<label for="dueDate">Due Date</label>
				<input name="dueDate" type="text">
			</div>
			<div>
				<label for="name">Priority</label>
				<input type="text">
			</div>
			<button>Add a Task</button>
		</form>
	</section>
	<section>
		<article>
			<h3>Pending</h3>
		</article>
		<article>
			<h3>Overdue</h3>
		</article>
	</section>
</section>
